<?xml version="1.0"?>

<launch>

  <param name="robot_description" textfile="$(find basic_urdf)/urdf/tutorial.urdf"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <include file="/home/cona/catkin_ws/src/OrbbecSDK_ROS1/launch/astra_stereo_u3.launch"/>

  <include file="/home/cona/catkin_ws/src/ls01b_v2/launch/ls01b_v2.launch"/>

</launch>
